<div class="container-card">
    <p-card *ngIf="tipoCard === 'calendar'" header="Calendar"
        [style]="{ width: '498px', 'border-radius': '5%', 'text-align': 'center'}">
        <ng-template pTemplate="header"></ng-template>
        <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true"
            [style]="{ width: '100%', 'border-radius': '5%' }"></p-calendar>
        <ng-template pTemplate="footer"></ng-template>
    </p-card>

    <p-card *ngIf="tipoCard === 'note'" header="Upcoming Dates:"
        [style]="{ width: '498px', 'border-radius': '5%', 'text-align': 'center'}">
        <p-divider align="center">
            <span class="p-tag">Today</span>
        </p-divider>

        <ng-container *ngFor="let appuntamento of prossimiAppuntamenti; let i=index">
            <div *ngIf="isToday(appuntamento.data)" class="container-appointment">
                <div class="container-info-row">
                    <div style="white-space: nowrap;">{{ appuntamento.data }}</div>
                </div>
                <div class="container-info-row">
                    <div style="white-space: nowrap;">{{ appuntamento.tipo }}</div>
                </div>
                <div class="container-buttons">
                    <p-button icon="pi pi-bell" [outlined]="true" class="button-bell"
                        (click)="toggleIconColorAndPosition(appuntamento, i)" pTooltip="Bookmark"
                        [severity]="appuntamento.iconSeverity"></p-button>

                    <p-button icon="pi pi-inbox" [outlined]="true" class="button-info"
                        (click)="showDialog(appuntamento)"></p-button>
                    <p-dialog header="{{appuntamento.tipo}}" [(visible)]="appuntamento.visible" [modal]="true"
                        [style]="{ width: '25%' }" [draggable]="true" [resizable]="false">
                        <div class="container-header">
                            <div class="container-info-row" style="padding-bottom: 5%;">
                                <i class="pi pi-users " style="padding-right:15%; font-size: 1.5rem"></i>
                                <div style="white-space: nowrap;">{{ appuntamento.team + " Team" }}</div>
                            </div>
                        </div>
                        <div class="container-modal">
                            <div class="container-info-row" style="padding-bottom: 5%;">
                                <i class="pi pi-calendar " style="padding-right:15%; font-size: 1.5rem"></i>
                                <div style="white-space: nowrap;">{{ appuntamento.data }}</div>
                            </div>
                            <div class="container-info-row" style="padding-bottom: 5%;">
                                <i class="pi pi-book " style="font-size: 1.5rem"
                                    style="padding-right:15%;font-size: 1.5rem"></i>
                                <div style="white-space: nowrap;">{{ appuntamento.tipo }}</div>
                            </div>
                            <div class="container-info-row">
                                <i class=" pi pi-globe " style=" font-size: 1.5rem"
                                    style="padding-right:15%;font-size: 1.5rem"></i>
                                <div style="white-space: nowrap;">{{ appuntamento.link }}</div>
                            </div>
                        </div>
                        <ng-template pTemplate="footer">
                            <p-button class="button-modal" [text]="true" icon="pi pi-check "
                                (click)="appuntamento.visible = false" label="Close" severity="danger" pAutoFocus
                                [autofocus]="true"></p-button>
                        </ng-template>
                    </p-dialog>
                </div>
            </div>
        </ng-container>

        <p-divider align="center">
            <span class="p-tag">Future</span>
        </p-divider>
        <div class="container-row">
            <ng-container *ngFor="let appuntamento of prossimiAppuntamenti; let i=index">
                <div *ngIf="!isToday(appuntamento.data)" class="container-appointment-future">
                    <div class="container-info-row">
                        <div style="white-space: nowrap;">{{ appuntamento.data }}</div>
                    </div>
                    <div class="container-info-row">
                        <div style="white-space: nowrap;">{{ appuntamento.tipo }}</div>
                    </div>
                    <div class="container-buttons">
                        <p-button icon="pi pi-bell" [outlined]="true" class="button-bell"
                            (click)="toggleIconColorAndPosition(appuntamento, i)" pTooltip="Bookmark"
                            [severity]="appuntamento.iconSeverity"></p-button>

                        <p-button icon="pi pi-inbox" [outlined]="true" class="button-info"
                            (click)="showDialog(appuntamento)"></p-button>
                        <p-dialog header="{{appuntamento.tipo}}" [(visible)]="appuntamento.visible" [modal]="true"
                            [style]="{ width: '25%' }" [draggable]="true" [resizable]="false">
                            <div class="container-header">
                                <div class="container-info-row" style="padding-bottom: 5%;">
                                    <i class="pi pi-users " style="padding-right:15%; font-size: 1.5rem"></i>
                                    <div style="white-space: nowrap;">{{ appuntamento.team + " Team" }}</div>
                                </div>
                            </div>
                            <div class="container-modal">
                                <div class="container-info-row" style="padding-bottom: 5%;">
                                    <i class="pi pi-calendar " style="padding-right:15%; font-size: 1.5rem"></i>
                                    <div style="white-space: nowrap;">{{ appuntamento.data }}</div>
                                </div>
                                <div class="container-info-row" style="padding-bottom: 5%;">
                                    <i class="pi pi-book " style="font-size: 1.5rem"
                                        style="padding-right:15%;font-size: 1.5rem"></i>
                                    <div style="white-space: nowrap;">{{ appuntamento.tipo }}</div>
                                </div>
                                <div class="container-info-row">
                                    <i class=" pi pi-globe " style=" font-size: 1.5rem"
                                        style="padding-right:15%;font-size: 1.5rem"></i>
                                    <div style="white-space: nowrap;">{{ appuntamento.link }}</div>
                                </div>
                            </div>
                            <ng-template pTemplate="footer">
                                <p-button class="button-modal" [text]="true" icon="pi pi-check "
                                    (click)="appuntamento.visible = false" label="Close" severity="danger" pAutoFocus
                                    [autofocus]="true"></p-button>
                            </ng-template>
                        </p-dialog>
                    </div>
                </div>
            </ng-container>
        </div>
    </p-card>

</div>