.container-card {
  padding: 1%;
}
.p-card-body {
  padding: 0px;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}
::ng-deep .p-card .p-card-footer {
  padding: 0;
}

.container-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-appointment-future {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.button-bell {
  margin-right: 15%;
}
.button-info {
}

::ng-deep .p-button.p-button-icon-only {
  width: 2rem;
  padding: 0.3rem 0;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.container-row {
}

.container-info-row {
  align-items: center;
  display: flex;
}

::ng-deep .p-dialog-footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

::ng-deep .p-dialog-header {
  display: flex;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-left: 37%;
}

::ng-deep .p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding-left: 14%;
  padding-bottom: 5%;
}

.container-member {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-member {
  display: flex;
  flex-direction: column;
}

.divider-member {
  margin: 0 !important;
}

::ng-deep .p-card .p-card-body {
  padding: 1.25rem;
}

.card-team .p-card-body {
  padding: 0px;
}

.level {
  font-size: 12px;
}
