<div class="main" [class.login-visible]="showLogin" [class.not-login-visible]="!showLogin">
    <div class="card" #cardAnimate>
        <div class="flex flex-column md:flex-row flex-column-on-mobile" [class.login-visible]="showLogin">
            <div *ngIf="showLogin;"
                class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3  py-5">
                <div class="flex flex-wrap justify-content-center align-items-center gap-2 ">
                    <label class="w-6rem">Email</label>
                    <input pInputText id="e-mail" type="text" class="w-12rem" [(ngModel)]="email" />
                </div>
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-6rem">Password</label>
                    <input pInputText id="password" type="password" class="w-12rem" [(ngModel)]="password"
                        name="password" />
                </div>
                <p-button label="Login" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="login()"></p-button>
            </div>
            <div *ngIf="showLogin;" class="w-full md:w-2">
                <p-divider layout="vertical" styleClass="hidden md:flex"><b>OR</b></p-divider>
                <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"><b>OR</b></p-divider>
            </div>
            <div *ngIf="!showLogin;"
                class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-6rem">Email</label>
                    <input pInputText id="e-mail" type="text" class="w-12rem" [(ngModel)]="email" />
                </div>
                <div class="flex flex-wrap justify-content-center align-items-center gap-2">
                    <label class="w-6rem">Password</label>
                    <input pInputText id="password" type="password" class="w-12rem" [(ngModel)]="password"
                        name="password" />
                </div>
            </div>
            <div class="w-full md:w-5 flex align-items-center justify-content-center  sign-up-container">
                <p-button label="Sign Up" icon="pi pi-user-plus" (click)="handleClick()"
                    styleClass="p-button-success w-10rem"></p-button>
            </div>

        </div>
    </div>
</div>